<div class="container-fluid">
    <h2 class="text-center">Create a new Quote</h2>
    <hr>
    <form>
        <div class="form-group">
            <label for="quote">Author</label>
            <textarea class="form-control" id="quote" rows="4" required></textarea>
            
  
        </div>
        <div class="form-group">
  
            <label for="author">Name of Author</label>
            <input type="text" required class="form-control" id="author"> 
  
        </div>
        <div class="form-group">
            <label for="name">Name of publisher</label>
            <input type='name' id="name" required>
  
        </div>
    </form>
  </div>
